<template name="ApplicationLayout">
    <header>
        <title>Chatroom!</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>

    <body>
        <header>
            <nav role="navigation" class="cyan">
                <div class="nav-wrapper container">
                    <a href="/" id="logo-container" class="brand-logo center">Chatroom</a>
                    <ul class="right">
                        <li>{{> loginButtons align=right}} </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <h1>Welcome!</h1> {{> yield}}
        </main>
        <footer class="page-footer cyan">
            <div class="footer-copyright">
                <div class="container">
                    @ 2016 Chris
                </div>
            </div>
        </footer>

    </body>
</template>

<template name="home">
    {{#if currentUser}}
    <h2>Chat with anyone!</h2> {{else}}
    <h2>Please Log in to chat</h2> {{/if}}
    <form class="add-new-post">
        <input type="text" name="firstname">
        <input class="waves-effect waves-light btn cyan" type="submit">
    </form>
    <ul>
        {{#each posts}}
        <div class="row">
        <div class="col s12">
        <ul class="collection">
            <li class="collection-item"><a href="/post/{{_id}}">{{username}}:{{name}}:{{createdAt}}</a></li>
        </ul>
            </div>
        </div>
        {{/each}}
    </ul>
</template>

<template name="post">
    <h2 class="post-class">{{name}}</h2>
</template>