/* CSS declarations go here */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: khaki;
}

main {
    flex: 1 0 auto;
}

* {
    text-align: center;
}

ul {
    border-color: black;
}
